@charset "utf-8";
/* 새글 스킨 (latest) */

/* Tab_Latest */
.tab_lat {position:relative;overflow:hidden;}
.tab_lat li a .lt_title {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.lat_tab .lat_title a{color:rgb(90, 90, 90);text-decoration:none;display:inline-block;position:relative}
.lat_tab .lat_title a:after{position:absolute;bottom:-1px;left:0;width:100%;height:2px;background:#007bff;content:''}
.tab_latest h4 {color:rgb(90, 90, 90); margin-bottom: 0;}
.tab_lat ul{padding:0 10px 0;list-style-type:none;margin-bottom: 0}
.tab_lat li {position:relative;line-height:1.2rem;padding:3px 0;padding-right:70px;padding-left:10px;position:relative}
.tab_lat li a {color:rgb(90, 90, 90);text-decoration:none;}
.tab_lat li a:hover{color:#000}
.tab_lat li .fa-heart{color:#ff0000;}
.tab_lat li .fa-lock{display: inline-block;line-height: 14px;width: 16px;font-size:0.7rem;font-weight: 600;color: #4f818c;background: #cbe3e8;text-align: center;border-radius: 2px;border:1px solid #a2c6ce}
.tab_lat li .new_icon{display:inline-block;width: 16px;line-height:16px;font-size:0.7rem;font-weight: 600;color:#fff;background:#0069d9;text-align:center;border-radius: 2px;}
.tab_lat li .hot_icon{display:inline-block;width: 16px;line-height:16px ;font-size:0.7rem;font-weight: 600;color:#fff;background:#e52955;text-align:center;border-radius: 2px;}
.tab_lat li .fa-caret-right{color:#bbb}
.tab_lat .lt_date{position:absolute;top:3px;right:0;color:#555; text-align: right !important;}
.tab_lat  .empty_li{line-height:145px ;color:#666;text-align:center;padding:0;}
.tab_lat  .empty_li:before{background:none;padding:0}

.tab_lat .lt_cmt{color:#ff73b4; padding-right:4px; text-align: right; font-weight: 600;}
.tab_lat .lt_more {position:absolute;top:11px;right:10px;display:block;width:25px;line-height:25px;color:#aaa;border-radius:3px;text-align:center;}
.tab_lat .lt_more:hover{color:#777}